@model SpecApp.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Client Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Email Address:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-warning" onclick="location.href='@Url.Action("Edit", "Client", new { id = Model.ClientId })';return false;">Update Details</button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "Client")';return false;">Back to List</button>

</p>
